{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - MGH-Books{% endblock %}

{% block home %}
<h2 style="color: lightseagreen; text-align:center; font-size: 20px">Erreur de paiement</h2>
<p style="margin-left:10%;text-align:left; font-size: 16px">

Bonjour <strong>{{order.user.firstname}} {{order.user.lastname}}</strong><br><br>
Il semblerait que votre paiement est échoué pour votre commande n°<strong>{{order.reference}}</strong><br>
Une confirmation d'erreur vient de vous etre envoyée par email à l'adresse <strong>{{order.user.email}}</strong><br><br>
<br><br>

<a class="btn" href="{{path('order')}}">Réessayer le paiement</a>
</p>


{% endblock %}

